
/* BARRA DE PROGRESSO PERSONALIZADA */

input[type=range].progressbar {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.3px 0;
}
input[type=range].progressbar:focus {
  outline: none;
}

/* Estilização para Chrome */
input[type=range].progressbar::-webkit-slider-runnable-track {
  overflow: hidden;
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.6) inset;
  background: #dedede;
  border-radius: 5px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].progressbar::-webkit-slider-thumb {
  box-shadow: -500px 0 0 500px orangered;
  height: 25px;
  width: 20px;
  border-radius: 4px;
  background: #e0e0e0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.3px;
}
input[type=range].progressbar:focus::-webkit-slider-runnable-track {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.6) inset;
  background: #dedede;
}




/* estilização para firefox */
input[type=range].progressbar::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.6) inset;
  background: #dedede;
  border-radius: 5px;
  border:none;
}
input[type=range].progressbar::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 1px rgba(13, 13, 13, 0.6);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 13px;
  width: 11px;
  border-radius: 4px;
  background: #dedede;
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  background-color: orangered; 
  box-shadow: none;
  height: 8.4px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {  
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6) inset;
    background: #dedede;
}

/* estilização para IE/Edge */
input[type=range].progressbar::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].progressbar::-ms-fill-lower {
  background: orangered;
  border: none;
  border-radius: 5px;
}
input[type=range].progressbar::-ms-fill-upper {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6) inset;
    background: #dedede;
    border-radius: 5px;
}
input[type=range].progressbar::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0px 0px 1px rgba(13, 13, 13, 0.6);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 13px;
  width: 11px;
  border-radius: 4px;
  background: #dedede;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].progressbar:focus::-ms-fill-lower {
  background: orangered;
  border: none;
  border-radius: 5px;
}
input[type=range].progressbar:focus::-ms-fill-upper {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6) inset;
    background: #dedede;
    border-radius: 5px;
}